body, html {
  height: 100%;
  font-family: 'Karla', serif;
}

body.no-margin {
  margin: 0;    
}

.bg {
  /* The image used */
  background-image: url("../brille.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

#footer {
    display: grid;
    grid-template-areas: 'links credits';
    gap: 1em;
    
    position: absolute;
    top: 85%;
    width: 100%;
    color: #444;
}

#footer > div {
    padding: 2em;
}

.links {
    grid-area: links;
}

.credits {
    grid-area: credits;
    text-align: right;
}

.links > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.links > ul > li {
  float: left;
}

.links > ul > li > a,
.credits > a {
  color: #66a;
}

#text {
  position: absolute;
  color: #f44;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

#text .pre {
  font-size: 1em;
}

#text .title {
  font-size: 3em;
  margin-bottom: 0;
}

#text .subtitle {
  font-size: 2em;
  margin-top: 0;
}

#text .info {
  font-size: 1em;
  color: #444;
}

#text .info a {
  color: #444;
}

@media screen and (max-width: 380px) {
  .bg-s {
    background-color: white;
    opacity: 0.7;
  }
  
  #text .info {
    color: black;
  }
  
  #text .info a {
    color: black;
  }
}
