body, html {
  height: 100%;
  font-family: 'Karla', serif;
}

.bg {
  /* The image used */
  background-image: url("blocks-0R1ci4Rb9jU-unsplash.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

#footer {
  position: absolute;
  top: 90%;
  width: 100%;
  color: #444;
}

#footer ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#footer ul li {
  float: left;
  width: 48%;
}

#footer ul li a {
  color: #66a;
}

#footer ul li.left {
  padding-left: 2em;
}

#footer ul li.right {
  padding-right: 2em;
  text-align: right;
}

#impressum {
  position: absolute;
  top: 90%;
  width: 40%;
  text-align: left;
  padding-left: 2em;
  color: #444;
}

#impressum a {
  color: #66a;
}

#credit {
  position: absolute;
  left: 50%;
  top: 90%;
  width: 40%;
  text-align: right;
  padding-right: 2em;
  color: #444;
}

#credit a {
  color: #66a;
}

#text {
  position: absolute;
  color: #f44;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

#text .pre {
  font-size: 1em;
}

#text .title {
  font-size: 3em;
}

#text .info {
  font-size: 1em;
  color: #444;
}

#text .info a {
  color: #444;
}